<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Default user type when creating new user.</description>
        <param-name>defaultType</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <description>Path of profile images</description>
        <param-name>profileImagePath</param-name>
        <param-value>images/profile/</param-value>
    </context-param>
    <context-param>
        <description>Path of application forms</description>
        <param-name>applicationUploadPath</param-name>
        <param-value>images/application/</param-value>
    </context-param>
    <context-param>
        <description>Number of applicants which shown in Home</description>
        <param-name>applicantsPerPage</param-name>
        <param-value>20</param-value>
    </context-param>
    <context-param>
        <description>Amount of page per application form</description>
        <param-name>pagePerApplication</param-name>
        <param-value>7</param-value>
    </context-param>
    <context-param>
        <description>Open or Close for Register</description>
        <param-name>Register</param-name>
        <param-value>yes</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.sa.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.sa.filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilterModal</filter-name>
        <filter-class>com.sa.filter.LoginFilterModal</filter-class>
    </filter>
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>com.sa.filter.ManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>AddMark</servlet-name>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-name>AddUser</servlet-name>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-name>EditMark</servlet-name>
        <servlet-name>EditProfile</servlet-name>
        <servlet-name>EditQuestion</servlet-name>
        <servlet-name>EditUser</servlet-name>
        <servlet-name>ExportSummary</servlet-name>
        <servlet-name>Home</servlet-name>
        <servlet-name>Logout</servlet-name>
        <servlet-name>Summary</servlet-name>
        <servlet-name>UploadApplication</servlet-name>
        <servlet-name>ViewApplicant</servlet-name>
        <servlet-name>ViewQuestions</servlet-name>
        <servlet-name>ViewUsers</servlet-name>
        <servlet-name>Progress</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilterModal</filter-name>
        <servlet-name>AddOverview</servlet-name>
        <servlet-name>EditOverview</servlet-name>
        <servlet-name>ViewOverview</servlet-name>
        <servlet-name>ViewMark</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <servlet-name>Summary</servlet-name>
        <servlet-name>ExportSummary</servlet-name>
        <servlet-name>AddOverview</servlet-name>
        <servlet-name>EditOverview</servlet-name>
        <servlet-name>ViewOverview</servlet-name>
        <servlet-name>Progress</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-name>AddUser</servlet-name>
        <servlet-name>EditQuestion</servlet-name>
        <servlet-name>EditUser</servlet-name>
        <servlet-name>ViewUsers</servlet-name>
        <servlet-name>ViewQuestions</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sa.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.sa.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsers</servlet-name>
        <servlet-class>com.sa.servlet.ViewUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.sa.servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.sa.servlet.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.sa.servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>com.sa.servlet.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuestions</servlet-name>
        <servlet-class>com.sa.servlet.ViewQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>com.sa.servlet.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>com.sa.servlet.DeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestion</servlet-name>
        <servlet-class>com.sa.servlet.EditQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOverview</servlet-name>
        <servlet-class>com.sa.servlet.AddOverview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.sa.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApplicant</servlet-name>
        <servlet-class>com.sa.servlet.ViewApplicant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadApplication</servlet-name>
        <servlet-class>com.sa.servlet.UploadApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOverview</servlet-name>
        <servlet-class>com.sa.servlet.ViewOverview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOverview</servlet-name>
        <servlet-class>com.sa.servlet.EditOverview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMark</servlet-name>
        <servlet-class>com.sa.servlet.ViewMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMark</servlet-name>
        <servlet-class>com.sa.servlet.AddMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Summary</servlet-name>
        <servlet-class>com.sa.servlet.Summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMark</servlet-name>
        <servlet-class>com.sa.servlet.EditMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportSummary</servlet-name>
        <servlet-class>com.sa.servlet.ExportSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>com.sa.servlet.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Progress</servlet-name>
        <servlet-class>com.sa.servlet.Progress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.sa.servlet.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsers</servlet-name>
        <url-pattern>/ViewUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuestions</servlet-name>
        <url-pattern>/ViewQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestion</servlet-name>
        <url-pattern>/EditQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOverview</servlet-name>
        <url-pattern>/AddOverview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApplicant</servlet-name>
        <url-pattern>/ViewApplicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadApplication</servlet-name>
        <url-pattern>/UploadApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOverview</servlet-name>
        <url-pattern>/ViewOverview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOverview</servlet-name>
        <url-pattern>/EditOverview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMark</servlet-name>
        <url-pattern>/ViewMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMark</servlet-name>
        <url-pattern>/AddMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Summary</servlet-name>
        <url-pattern>/Summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMark</servlet-name>
        <url-pattern>/EditMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportSummary</servlet-name>
        <url-pattern>/ExportSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Progress</servlet-name>
        <url-pattern>/Progress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
